.chart-series-line {
	-fx-stroke-width: 1px;
	-fx-effect: null;
}
.default-color0.chart-line-symbol { 
    -fx-background-radius: 0.0px;
    -fx-padding: 0.0px;
}
.default-color1.chart-line-symbol { 
    -fx-background-radius: 0.0px;
    -fx-padding: 0.0px;
}

.default-color0.chart-series-line { -fx-stroke: black; }
.default-color1.chart-series-line { -fx-stroke: blue; }