* {
    -fx-font-family: "Avenir", Verdana;
}
.chart {
	-fx-background-color: white;
}
.chart-title {
	-fx-text-fill: black;
	-fx-font-size: 1.6em;
	-fx-font-weight: bold;
}
.chart-legend {
	-fx-padding: 10px;
	-fx-text-alignment: center;
	-fx-border-color: transparent;
	-fx-effect: none;
}
.chart-legend-item {
	-fx-padding: 2px;
}
.chart-plot-background {
	-fx-background-color: transparent;
}
.chart-vertical-grid-lines {
	-fx-stroke: transparent;
}
.chart-horizontal-grid-lines {
	-fx-stroke: gray;
}
.axis {
	-fx-tick-label-fill: #797979;
	-fx-tick-length: 10;
	-fx-minor-tick-length: 5;
}
.axis-label {
	-fx-text-fill: #797979;
}
.axis-tick-mark {
	-fx-stroke: #797979;
	-fx-stroke-width: 1px;
}
.axis-minor-tick-mark {
	-fx-stroke: #797979;
	-fx-stroke-width: 1px;
}
.chart-series-line {    
    -fx-stroke-width: 2px;
    -fx-effect: null;
}
AnchorPane {
	 -fx-background-color: transparent;
}
Button {
    -fx-background-color: #efefef;
	-fx-font-family: "Avenir", Verdana;
	-fx-font-weight: bold;
	-fx-text-fill: black;
}
#timeLineBox {
    -fx-background-color: transparent;
}
#mainButton, #timeLineButton_1, #timeLineButton_2, #timeLineButton_5, #timeLineButton_all {
    -fx-border-color: transparent;
    -fx-background-color: #efefef;
    -fx-text-fill: black;
}
Button:hover, #dowPane Button:hover, #mainButton:hover, #timeLineButton_1:hover, #timeLineButton_2:hover, #timeLineButton_5:hover, #timeLineButton_all:hover {
	-fx-background-color: #4da0ff;
}
CheckBox {
	-fx-text-fill: black;
	-fx-font-weight: bold;
}
TextField, PasswordField {
	-fx-border-color: #efefef;
	-fx-border-width: 2px;
	/*-fx-border-insets: 2px;*/
	-fx-font-family: "Avenir", Verdana;
}
#logoutPane {
	-fx-background-color: white;
}
#maBox {
	-fx-text-fill: black;
	-fx-border-color: white;
	-fx-border-width: 2px;
	/* -fx-background-color: #78b6ff; */
}
#maLabel {
	-fx-text-fill: black;
	-fx-font-weight: bold;
}
#userBox {
	-fx-background-color: white;
}
#dowPane {
	-fx-background-color: #efefef;
}
#dowPane Button {
	-fx-background-color: transparent;
    -fx-border-width: 0px;
	-fx-font-family: "Avenir", Verdana;
	-fx-font-weight: bold;
	-fx-text-fill: black;
}
.scroll-bar:vertical {
    -fx-background-color: transparent;
}
.scroll-bar:vertical .thumb {
    /* -fx-background-color: #80bbff; */
    -fx-background-color: #efefef;
}
.default-color0.chart-series-line { -fx-stroke: #e41a1c; }
.default-color1.chart-series-line { -fx-stroke: #377eb8; }
.default-color2.chart-series-line { -fx-stroke: #4daf4a; }
.default-color3.chart-series-line { -fx-stroke: #984ea3; }
.default-color4.chart-series-line { -fx-stroke: #ff7f00; }
.default-color5.chart-series-line { -fx-stroke: transparent; }

.default-color0.chart-line-symbol { -fx-background-color: #e41a1c; }
.default-color1.chart-line-symbol { -fx-background-color: #377eb8; }
.default-color2.chart-line-symbol { -fx-background-color: #4daf4a; }
.default-color3.chart-line-symbol { -fx-background-color: #984ea3; }
.default-color4.chart-line-symbol { -fx-background-color: #ff7f00; }